.chat-area {
    @apply w-full h-full;
    .messages-area {
        @apply bg-white w-full h-5/6 flex flex-col overflow-y-scroll;

        .message-box {
            @apply flex items-center;
        }

        .message {
            @apply bg-lime-700 w-3/5 px-4 py-3 m-2 text-lime-50 rounded-md; 
        }
        .display-user {
            @apply flex-row-reverse;
        }
        .user {
            @apply bg-lime-200 text-lime-950;
        }
        .date {
            @apply text-sm text-lime-800;
        }

    }
    .user-message-area {
        @apply bg-lime-100 w-full h-1/6;
        form {
            @apply w-full h-full flex justify-evenly items-center;
        }
        input[type="text"]{
            @apply h-4/6 w-4/6 rounded-md;
        }
        input[type="submit"]{
            @apply h-4/6 w-1/6 bg-lime-700 border border-lime-700 text-lime-50 rounded-md hover:bg-lime-50 hover:text-lime-700 cursor-pointer disabled:bg-lime-200 disabled:text-lime-500 disabled:border-lime-500;
        }
    }
}