<div class="chat-area">
    <div class="messages-area">
        @for(message of messages; track $index) {
            <div class="message-box" [ngClass]="{'display-user' : message.role === 'user'}">

                <div class="message" [ngClass]="{user : message.role === 'user'}">{{message.content}}</div>

                <div class="date">
                    {{message.date | date : 'le dd/MM/yyyy à hh:mm:ss'}}
                </div>                
            </div>

        }        
    </div>
    <div class="user-message-area">
        <form [formGroup]="chatForm" (ngSubmit)="sendMessage()" (keypress.Enter)="sendMessage()">

            <input type="text" placeholder="Entrez votre message" formControlName="content"  >

            <input type="submit" value="Envoyer" [disabled]="!chatForm.valid || isLoading">

        </form>
    </div>
</div>
