<header>
    <nav>
        <ul>
            <li>
                <a routerLink="/chat">Chat</a>
            </li>
            <li>
                <a routerLink="">Soon...</a>
            </li>
            <li>
                <a routerLink="">Soon...</a>
            </li>
        </ul>
    </nav>
</header>
